<div class="thing-list" ng-show="$ctrl.authz.canQuery">
    <div ng-show="$ctrl.items">
        <label for="filter">Filter by type:</label>
        <select id="filter" ng-model="$ctrl.selected">
            <option selected value="">---Please select a type---</option>
            <option ng-repeat="option in $ctrl.types | orderBy: 'name'" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <ul>
        <li ng-repeat="item in $ctrl.items | orderBy:'name'">
            <a ui-sref="things({id:item.id})">
                <span class="thing_id id">{{item.id}}</span>
                {{item.name}}
                <span ng-show="$ctrl.authz.canUpdateItem(item)"> *</span>
            </a>
        </li>
    </ul>
</div>